In [1]:
import pandas as pd
from pathlib import Path
import pickle

In [2]:
PROJECT_DIR =  Path.cwd().parent
DATA_DIR = PROJECT_DIR.joinpath('data')

In [3]:
HICU = pd.read_feather(DATA_DIR.joinpath('processed','HICU.feather'))
SICU = pd.read_feather(DATA_DIR.joinpath('processed','SICU.feather'))
MICU = pd.read_feather(DATA_DIR.joinpath('processed','MICU.feather'))

In [4]:
from sklearn.preprocessing import MinMaxScaler

In [5]:
scaler = MinMaxScaler()

In [6]:
output = scaler.fit_transform(HICU[HICU.columns[1:]])

HICU[HICU.columns[1:]] = output
HICU.head()

,연구등록번호,age,height,weight,체표면적,bp,heartrate,respiratoryrate,temperature,gender,...,hct,Hemoglobin,potassium,Monocyte(%),sodium,Neutrophil(%),PLT Count,rbc count,외국인여부,death
0,10000217,0.541176,0.344371,0.188852,0.358166,0.673367,0.283019,0.022727,0.535714,0.0,...,0.540609,0.570423,0.055631,0.293023,0.738806,0.524759,0.278103,0.648520,0.0,0.0
1,10001501,0.741176,0.348786,0.205902,0.381089,0.522613,0.188679,0.125000,0.571429,1.0,...,0.407614,0.415493,0.033017,0.213953,0.752985,0.693891,0.233005,0.466094,0.0,0.0
2,10001618,0.647059,0.395143,0.245902,0.458453,0.482412,0.240566,0.125000,0.625000,1.0,...,0.078680,0.154930,0.033921,0.233547,0.746269,0.640069,0.055621,0.214900,0.0,0.0
3,1000196,0.611765,0.344371,0.203279,0.375358,0.467337,0.202830,0.125000,0.589286,0.0,...,0.360406,0.401408,0.044776,0.233547,0.768657,0.640069,0.200935,0.432665,0.0,0.0
4,10002343,0.647059,0.364238,0.180328,0.361032,0.530151,0.202830,0.011364,0.589286,1.0,...,0.517766,0.521127,0.061058,0.233547,0.768657,0.640069,0.206948,0.528176,0.0,0.0

In [7]:
output = scaler.fit_transform(MICU[MICU.columns[1:]])

MICU[MICU.columns[1:]] = output
MICU.head()

,연구등록번호,gender,age,ethnicity,hospitalid,wardid,height,hospitaladmitoffset,hospitaladmitsource,hospitaldischargeyear,...,alkaline phos.,anion gap,bicarbonate,calcium,chloride,magnesium,platelets x 1000,potassium,total protein,gcs
0,141328,0.0,0.839506,0.0,0.0,0.0,0.542604,0.998799,0.000000,0.0,...,0.034388,0.225000,0.524272,0.350911,0.401042,0.251989,0.093502,0.318958,0.530435,0.888889
1,141366,1.0,0.901235,0.2,0.0,0.0,0.595274,0.990995,0.071429,1.0,...,0.030142,0.183333,0.574757,0.340885,0.501302,0.251989,0.160172,0.389039,0.443478,1.000000
2,141392,0.0,0.864198,0.2,0.0,0.0,0.551267,0.998819,0.000000,0.0,...,0.025897,0.183333,0.580097,0.385091,0.472656,0.225464,0.092472,0.226543,0.472464,1.000000
3,141462,1.0,0.888889,0.2,0.0,0.0,0.586611,0.998819,0.142857,0.0,...,0.019529,0.200000,0.501618,0.352431,0.479818,0.240937,0.200101,0.266048,0.452174,1.000000
4,141475,1.0,0.975309,0.2,0.0,0.0,0.621609,0.970123,0.142857,1.0,...,0.025897,0.186667,0.434951,0.284375,0.681771,0.232350,0.097898,0.214136,0.430435,0.722222

In [8]:
output = scaler.fit_transform(SICU[SICU.columns[1:]])

SICU[SICU.columns[1:]] = output
SICU.head()

,연구등록번호,gender,age,ethnicity,hospitalid,wardid,height,hospitaladmitoffset,hospitaladmitsource,hospitaldischargeyear,...,calcium,chloride,fentaNYL,fentaNYL citrate (PF),hydrALAZINE,magnesium,morphine,platelets x 1000,potassium,gcs
0,141296,1.0,0.653333,0.2,0.012821,0.000000,0.650749,0.979453,0.000000,0.0,...,0.404668,0.389070,0.0,0.0,0.0,0.312107,0.0,0.335649,0.565574,1.000000
1,141297,1.0,0.653333,0.2,0.012821,0.000000,0.650749,0.932525,0.000000,0.0,...,0.546684,0.415987,0.0,0.0,0.0,0.533842,0.0,0.337321,0.896175,1.000000
2,141314,1.0,0.413333,0.2,0.012821,0.000000,0.681505,0.993785,0.071429,0.0,...,0.577225,0.587276,0.0,0.0,0.0,0.371783,0.0,0.130838,0.808743,0.333333
3,141675,0.0,0.586667,0.2,0.000000,0.017544,0.607042,0.996750,0.142857,0.0,...,0.412304,0.572594,0.0,0.0,0.0,0.295380,0.0,0.176766,0.426230,1.000000
4,141708,1.0,0.906667,0.2,0.000000,0.017544,0.753541,0.997297,0.214286,1.0,...,0.393979,0.535889,0.0,0.0,0.0,0.295380,0.0,0.142802,0.360656,1.000000

In [48]:
HICU.to_csv(PROJECT_DIR.joinpath('4_ppfl_simulation/hicu/data/HICU.csv'), index=False)
SICU.to_csv(PROJECT_DIR.joinpath('4_ppfl_simulation/sicu/data/SICU.csv'), index=False)
MICU.to_csv(PROJECT_DIR.joinpath('4_ppfl_simulation/micu/data/MICU.csv'), index=False)

load valid data

In [9]:
with open('micu_selected.pkl','rb') as f:
   micu_selected = pickle.load(f)
with open('sicu_selected.pkl', 'rb') as f:
   sicu_selected = pickle.load(f)

In [10]:
common_features = set(MICU.columns) & set(SICU.columns) & set(HICU.columns)
id_and_outcome = set(['연구등록번호','death'])

micu_specific = set(MICU.columns) - common_features
sicu_specific = set(SICU.columns) - common_features
hicu_specific = set(HICU.columns) - common_features

common_features = common_features - id_and_outcome

feature_book = {'common_features':list(common_features), 'id_and_outcome':list(id_and_outcome),
                'hicu_specific':list(hicu_specific), 'sicu_specific':list(sicu_selected), 'micu_specific':list(micu_specific)}

In [11]:
import yaml

with open(DATA_DIR.joinpath('processed','feature_book.yaml'),'w') as f:
    yaml.dump(feature_book, f, allow_unicode=True)